@media (max-width: 768px) {
  .container{
  	width: auto;
  }
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
	width: 600px;
}
.blockquote{	
	padding: 25px;
	background: #f8fffe;
	border: 1px solid #8cdcd1;
	color: #0b4237;
}
.blockquoteBorder{
	border-left-width: 10px;
}
.blockquote::before{
	content: "\201c";
	font-size: 100px;
	color: #009578;
	display: block;
	margin-bottom: -40px;
	margin-top: -20px;
}
.quotes{
	font-family: 'Gelasio', serif;
	font-style: italic;
	font-size: 1.15em;
	line-height: 1.5;
	margin: 0;
}
.quotes:not(:last-child){
	margin-bottom: 1em;
}
.author{
	font-weight: bold;
	font-style: normal;
	text-align: right;
}
.author::before{
	content: "\2014\0020";
}
.button{
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #8cdcd1;
	cursor: pointer;
	margin-top: -17px;
}
#newQ{
	font-weight: bold;
	font-style: normal;
	text-align: right;
	color: #0b4237;
}
.tweet{
	width: 15px;
	height: 15px;
	cursor: pointer;
	float: right;
	margin-top: -70px;
	margin-right: -15px;
	color: #58c9d6;
}
